body {
    color: rgb(37, 5, 88);
    background-color: rgb(192, 143, 238);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 { 
    font-size: 180px;
}

.container {
    display: flex;
    gap: 90px;
    justify-content: center; 
    flex-wrap: wrap;
}

img {
    margin-top: 200px;
    margin-bottom: 120px;
    border: 4px solid rgba(120, 179, 138, 0.81);
    width: 300px;
    height: 400px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: translateY(-15px); 
}

hr {
    border: none;
    height: 5px; 
    background-color: white;
}