body {
    color: rgb(37, 5, 88);
    background-color: rgb(192, 143, 238);
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
}

h1 {
    font-size: 250px;
    margin-top: 120px;
}

img {
    margin-top: 55px;
    border: 3px solid rgb(43, 2, 82);
    height: 600px;
}