body {
    color: rgb(37, 5, 88);
    background-color: rgb(192, 143, 238);
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
}

h1 {
    font-size: 250px;
    margin-top: 120px;
}

.objetivos {
  padding: 40px;
  text-align: center;
}

.objetivos h2 {
  font-size: 35px;
  color: rgb(37, 5, 88);
  margin-top: 0px;
  margin-bottom: 10px;
}

.objetivos h3 {
  font-size: 35px;
  color: rgb(37, 5, 88);
  margin-top: 0px;
  margin-bottom: 10px;
}

.objetivos h4 {
  font-size: 35px;
  color: rgb(37, 5, 88);
  margin-top: 0px;
  margin-bottom: 10px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(192, 143, 238);
  border-radius: 12px;
  padding: 25px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border: 2px solid rgb(37, 5, 88);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  color: rgb(37, 5, 88);
}

.card p {
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  text-align: center;
}

.card button {
  background-color: rgb(37, 5, 88);
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.card button:hover {
  background-color:rgb(112, 29, 124);
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgb(37, 5, 88);
  border-radius: 12px;
  padding: 30px;
  margin: 20px;
  width: 400px;
  color: white;
  font-size: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}
