body {
    position:relative;
    color:rgb(37, 5, 88);
    background-color:rgb(192, 143, 238);
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    margin-top: 130px;
    font-size: 150px;
    color: rgb(37, 5, 88);
}

h2 {
    margin-left: 150px;
    margin-top: 150px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: left;
    margin-top: 100px;
}

p{ 
    font-size: 25px;
    color: rgb(101, 65, 134);
    text-align: left;
}

h3 {
    margin-left: 150px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: left;
    margin-top:20px;
}

h4 {
    margin-left: 150px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: left;
    margin-top: 20px;
}

h5 {
    margin-left: 150px;
    color: rgb(250, 250, 250);
    font-size: 25px;
    text-align: left;
    margin-top: 20px;
}

h6 {
    margin-left: 150px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: left;
    margin-top: 20px;
}

img {
    position: absolute;
    margin-left: 110px;
    top: 800px;
    border: 5px solid rgb(43, 2, 82);
    margin-bottom: 5px;
    height: 500px;
    width: 400px;
}


hr {
    border-color: rgb(249, 249, 249);
}