body {
    margin: 0; 
    padding: 0; 
    color: rgb(37, 5, 88);
    background-color: rgb(192, 143, 238);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    font-size: 180px;
}

img {
    margin-top: 150px;
    margin-bottom: 85px;
    border: 3px solid rgb(43, 2, 82);
    height: 550px;
}

hr {
    border: none;
    height: 10px; 
    background-color: white;
    margin: 25px 0;
    width: 99vw; 
}

.elevado {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.elevado:hover {
    transform: translateY(-50px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}